<!DOCTYPE html>
<html lang="en">
<head>
	<title>OTR Program Catalog</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<!-- Show log in/out links and flashed messages. -->
		{% include "header.html" %}
	</header>
	
	<div class="container">

		<nav>
			<!-- Genre navigation -->
			{% include "nav.html" %}
		</nav>

		<section>
			<!-- Main content -->
			{% block content %}
			{% endblock %}
		</section>
		
	</div>

	<footer>
		<!-- Show session vars -->
		{% include "footer.html" %}
	</footer>
</body>
</html>